<!--<h2>Aktuelle Impftermine</h2>
<div class="ui grid">
  <a
    *ngFor="let vaccination of vaccinations"
    class="five wide column item cfy-vaccination-list-item"
    [vaccination]="vaccination"
    [routerLink]="['./', vaccination.id]"
  ></a>
</div>
-->

<h2>Aktuelle Impftermine</h2>

<div class="ui equal height stretched grid stackable">
  <a *ngFor="let vaccination of vaccinations" class="five wide column item cfy-vaccination-list-item"
    [vaccination]="vaccination" [routerLink]="['./', vaccination.id]"></a>
  <div *ngIf="!vaccinations" class="ui active dimmer">
    <div class="ui large text loader">Daten werden geladen...</div>
  </div>
  <p *ngIf="vaccinations && !vaccinations.length">
    Es wurden noch keine Bücher eingetragen.
  </p>
</div>