<div class="ui middle aligned selection divided list">
  <a *ngFor="let location of locations" class="item bs-location-list-item" [location]="location">
    <div class="content">
      <div class="header">{{ location.name }}</div>
      <div class="description">{{ location.address }}</div>
      <div class="description">{{ location.postalcode }}</div>
      <div class="description">{{ location.city }}</div>
      <div class="metadata"></div>
    </div>
    <span *ngFor="let vaccination of location.vaccinations; last as l">
        {{ vaccination.maxParticipants }} {{ vaccination.date }}
        <span *ngIf="!l">
      </span>
    </span>
  </a>
</div>