<!--<div class="container">
  <div class="ui">
    <div class="ui two item tabs menu">
      <a routerLink="home" routerLinkActive="active" class="item">Home</a>
      <a routerLink="vaccinations" routerLinkActive="active" class="item">Impfungen</a>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
-->

<div class="page-container">
  <div class="ui grid">
    <div class="three wide column">
      <div class="left-column">
        <p class="style-h2">Coronify.</p>
        <div class="ui vertical fluid tabular menu">
          <a routerLink="home" routerLinkActive="active" class="item"><i class="th icon"></i>Home</a>
          <a routerLink="vaccinations" routerLinkActive="active" class="item"><i class="syringe icon"></i>Impfungen</a>
          <a routerLink="locations" routerLinkActive="active"
            class="item"><i class="map marker alternate icon"></i>Impforte</a>
          <a *ngIf="isLoggedIn()" routerLink="admin" routerLinkActive="active"
            class="item"><i class="lock icon"></i>Administration</a>
          <a routerLink="login" routerLinkActive="active" class="item"><i class="reply icon"></i>{{getLoginLabel()}}</a>
        </div>
      </div>
    </div>

    <div class="thirteen wide stretched column">
      <div class="middle-column">
        <cfy-vaccination-search (vaccinationSelected)="vaccinationSelected($event)" class="column">
        </cfy-vaccination-search>
        <div class="segment">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>