<div class="ui grid" *ngIf="vaccination" class="item cfy-vaccination-details">
  <div class="twelve wide column">
    <h1 class="ui header">Impfung am {{ vaccination?.date | date:'dd.MM.yyyy' }}</h1>
    <p class="description"><i class="clock outline icon"></i> {{ vaccination.starttime }} - {{ vaccination.endtime
      }}</p>
    <p> <i class="user outline icon"></i> {{vaccination.users.length}} / {{vaccination.maxParticipants}}</p>

    <h4 class="ui header">Angemeldete User:</h4>
    <span *ngFor="let user of vaccination.users; last as l">
          {{ user.firstname }} {{ user.lastname }} | {{user.birthdate | date:'dd.MM.yyyy'}} | {{user.email}}<span *ngIf="!l">, <div class="ui divider"></div> </span>
    </span>
  </div>
</div>

<button [routerLink]="'/vaccinations'" class="ui crayola cfy-button">
  Zurück zur Übersicht
</button>
<!--<button routerLink=".." class="ui crayola cfy-button">
  Zurück zur Übersicht
</button>-->