<div class="container">
  <div class="ui grid" *ngIf="vaccination" class="item cfy-vaccination-details">
    <div class="twelve wide column">
      <h1 class="ui header">Impfung am {{ vaccination.date | date:'dd.MM.yyyy' }}</h1>
      <p class="description"><i class="clock outline icon"></i> {{ vaccination.starttime }} - {{ vaccination.endtime
        }}</p>
      <p> <i class="user outline icon"></i> {{vaccination.users.length}} / {{vaccination.maxParticipants}}</p>

      <h3>Standort</h3>
      <div>{{vaccination?.location.name}} </div>
      <div>{{vaccination?.location.address}}</div>
      <div>{{vaccination?.location.postalcode}} {{vaccination?.location.city}}</div>
      <br>
      <div *ngIf="vaccination.users.length != 0 ; else other_content">

        <h4 class="ui header">Angemeldete User:</h4>

        <table class="ui celled table" *ngFor="let user of vaccination.users; last as l">
          <thead>
            <tr>
              <th>SVNR</th>
              <th>Name</th>
              <th>Geschlecht</th>
              <th>Geburtsdatum</th>
              <th>Telefon</th>
              <th>E-Mail</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of vaccination.users; last as l">
              <td data-label="SVNR">{{ user.ssn }}</td>
              <td data-label="Name">{{ user.firstname }} {{ user.lastname }}</td>
              <td data-label="Geschlecht">{{user.gender}}</td>
              <td data-label="Geburtsdatum">{{user.birthdate | date:'dd.MM.yyyy'}}</td>
              <td data-label="Telefon">{{user.phone}}</td>
              <td data-label="E-Mail">{{user.email}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <ng-template #other_content>Noch keine Anmeldungen zu diesem Termin!</ng-template>
    </div>
  </div> <br> <br>

  <button [routerLink]="'/vaccinations'" class="ui crayola cfy-button">
  Zurück zur Übersicht
</button>
  <!--<button routerLink=".." class="ui crayola cfy-button">
  Zurück zur Übersicht
</button>-->


  <a *ngIf="authService.isLoggedIn()" class="ui tiny yellow labeled icon button"
    [routerLink]="['../../admin', vaccination?.id]">
    <i class="write icon"></i> Impftermin bearbeiten
  </a>
  <a *ngIf="authService.isLoggedIn()" class="ui tiny red labeled icon button" (click)="removeVaccination()">
    <i class="remove icon"></i>
    Löschen
  </a>

  <a *ngIf="authService.isLoggedIn()" class="ui tiny violet labeled icon button" [routerLink]="['../../user']">
    <i class="write icon"></i> Jetzt anmelden
  </a>
</div>