<h1>Anmeldung zum Impftermin</h1>


<div class="ui grid" *ngIf="vaccination">
  <div class="twelve wide column">
    <form class="ui large form" [formGroup]="userForm" (ngSubmit)="addUserToVaccination()">

      <input type="hidden" name="id">

      <div class="two fields">
        <div class="field">
          <label>Vorname</label>
          <input type="text" formControlName="firstname">
          <div *ngIf="errors.firstname" class="ui negative message">{{
            errors.firstname }}</div>
        </div>

        <div class="field">
          <label>Nachname</label>
          <input type="text" formControlName="lastname">
          <div *ngIf="errors.lastname" class="ui negative message">{{
            errors.lastname }}</div>
        </div>

      </div>

      <div class="three fields">
        <div class="field">
          <label>Geschlecht</label>

          <select formControlName="gender">
      <option value="m">männlich</option>
      <option value="f">weiblich</option>
    </select>
          <div *ngIf="errors.gender" class="ui negative message">{{
            errors.gender }}</div>
        </div>

        <div class="field">
          <label>Sozialversicherungsnummer</label>
          <input type="number" formControlName="ssn">
          <div *ngIf="errors.ssn" class="ui negative message">{{
            errors.ssn }}</div>
        </div>

        <div class="field">
          <label>Geburtsdatum</label>
          <input type="date" formControlName="birthdate">
          <div *ngIf="errors.birthdate" class="ui negative message">{{
            errors.birthdate }}</div>
        </div>
      </div>

      <div class="two fields">
        <div class="field">
          <label>E-Mail</label>
          <input type="email" formControlName="email">
          <div *ngIf="errors.email" class="ui negative message">{{
            errors.email }}</div>
        </div>

        <div class="field">
          <label>Telefon</label>
          <input type="text" formControlName="phone">
          <div *ngIf="errors.phone" class="ui negative message">{{
            errors.phone }}</div>
        </div>
      </div>






      <div *ngIf="authService.isLoggedIn() && user?.isAdmin == true && this.isUpdatingUser === true" class="field">
        <label>Bereits geimpft</label>

        <select formControlName="hasVaccination">
      <option value="1">ja</option>
      <option value="0">nein</option>
    </select>
      </div>


      <button type="submit" class="ui cfy-button crayola">Jetzt anmelden</button>

    </form>
  </div>
  <div class="four wide column">
    <div class="vaccination-registration-info">
      <p>Dieser Impftermin findet am <b>{{vaccination?.date | date:"dd.MM.yyyy"}}</b> zwischen <b>{{vaccination?.starttime | date:"HH:mm"}} und
      {{vaccination?.endtime | date:"HH:mm"}}</b> statt.</p>
    </div>

    <div>
      <img src="../assets/img/corona1.svg" alt="">
    </div>
  </div>
</div>