<h1>Anmeldung zum Impftermin</h1>
<h3>{{vaccination?.location.name}}</h3>
<p>Dieser Impftermin findet bei der Adresse <b>{{vaccination?.location.address}}, {{vaccination?.location.postalcode}}
  {{vaccination?.location.city}}</b> am <b>{{vaccination?.date | date:"dd.MM.yyyy"}}</b> zwischen <b>{{vaccination?.starttime | date:"HH:mm"}} und
  {{vaccination?.endtime | date:"HH:mm"}}</b> statt.</p>

<form class="ui large form" [formGroup]="userForm" (ngSubmit)="addUserToVaccination()">

  <input type="hidden" name="id">

  <div class="field">
    <label>Vorname</label>
    <input type="text" formControlName="firstname">
  </div>

  <div class="field">
    <label>Nachname</label>
    <input type="text" formControlName="lastname">
  </div>

  <div class="field">
    <label>Sozialversicherungsnummer</label>
    <input type="number" formControlName="ssn">
  </div>

  <div class="field">
    <label>Geburtsdatum</label>
    <input type="date" formControlName="birthdate">
  </div>

  <div class="field">
    <label>E-Mail</label>
    <input type="email" formControlName="email">
  </div>

  <!--
  <div class="field">
    <label>Datum</label>
    <input type="date" formControlName="date">
    <div *ngIf="errors.date" class="ui negative message">{{
      errors.date }}</div>
  </div>

      id: this.user.id,
      firstname: this.user.firstname,
      lastname: this.user.lastname,
      ssn: this.user.ssn,
      email: this.user.email,
      birthdate: this.user.birthdate
  -->




  <button type="submit" class="ui green button"
>Speichern</button>

</form>