/* Add application styles & imports to this file! */

/* variables */
:root {
  --main: #6c63ff;
  --white: #ffffff;
  --bg-color: #eff2f8;
}

/* general */

body {
  font-family: 'Poppins', sans-serif !important;
  color: #333;
  margin: 0 !important;
  padding: 0 !important;
}

a,
button {
  font-family: 'Poppins', sans-serif !important;
}

a {
  color: #333 !important;
}

h1,
.style-h1 {
  color: #333 !important;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 700 !important;
  font-size: 35px !important;
  margin-bottom: 5% !important;
  margin-top: 2% !important;
}

h2,
.style-h2 {
  color: var(--main);
  font-family: 'Poppins', sans-serif !important;
  font-weight: 700 !important;
  font-size: 25px;
}

h3,
.style-h3 {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 700 !important;
  font-size: 25px;
}

.button {
  padding: 12px 25px !important;
}

.cfy-button {
  background: #fff;
  color: #fff;
  border-radius: 5px;
  padding: 12px 25px;
  border: none;
  font-weight: bold;
  margin-right: 5px;
  transition: 300ms ease-in-out;
}

.cfy-button:hover {
  background: var(--main);
  color: white !important;
}

.crayola {
  background-color: var(--main);
  color: white !important;
  transition: 300ms ease-in-out;
}

.crayola:hover {
  background: white !important;
  color: var(--main) !important;
}

.crayola:hover * {
  color: var(--main) !important;
}

.crayola * {
  color: white !important;
  transition: 300ms ease-in-out;
}

.left-column {
  margin-left: 20%;
  padding-top: 20%;
}

.middle-column {
  background: var(--bg-color);
  padding-top: 2%;
  min-height: 100vh;
  padding-left: 5%;
  padding-right: 5%;
}

.vaccination-item {
  padding: 15% 10% 10% 15%;
  width: auto;
  -webkit-box-shadow: 0px 4px 40px -30px rgba(188, 188, 188, 0.16);
  box-shadow: 0px 4px 40px -30px rgba(188, 188, 188, 0.16);
  border-radius: 20px;
  background: #fff;
  transition: 300ms ease-in-out;
}

.admin {
  padding: 30% 15% !important;
  display: flex;
  flex-direction: column;
  color: var(--main);
  transition: 300ms ease-in-out;
}

.admin i {
  transition: 300ms ease-in-out;
}

.admin .header {
  padding-top: 0 !important;
  margin-top: 10px !important;
}

.admin:hover i {
  transform: scale(1.2);
}

.ui.vertical.tabular.menu .active.item {
  color: var(--main) !important;
  /*background: var(--bg-color) !important;
  border-radius: 25px 0 0 25px !important;*/
}

.vaccination-item:hover {
  transform: translateX(2%) translateY(-2%);
}

.vaccination-item:hover .arrow-icon {
  background: blue;
  transform: scale(1.2);
}

.icon-wrapper {
  display: flex;
  justify-content: flex-end;
}

.arrow-icon i {
  margin: 0 !important;
}

.arrow-icon {
  background: var(--main);
  height: 40px;
  width: 40px;
  border-radius: 25px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 300ms ease-in-out;
}

.vaccination-item .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.ui.vertical.tabular.menu .item,
.ui.vertical.tabular.menu {
  border: 0 !important;
}

.main-grid > .column {
  padding: 0 !important;
}

.ui.vertical.tabular.menu .item {
  padding: 8% 0;
  margin: 10% 0;
}

.ui.vertical.menu .item > i.icon {
  float: left !important;
  margin-left: 0 !important;
  margin-right: 10px !important;
}

.username {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.username-firstletter {
  background: var(--main);
  color: white;
  border-radius: 25px;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.vaccination-info {
  display: flex;
  margin: 5% 0;
}

.vaccination-info .first {
  margin-right: 5%;
}

.back-arrow:hover i {
  color: #5628ee;
}

.vaccination-registration-info {
  margin-left: 15%;
}

.center {
  display: flex;
  justify-content: center;
}

.home-image {
  display: flex;
  justify-content: flex-end;
}

.home-image img {
  width: 600px;
}

.home-image .admin-home-image {
  width: 400px;
}

.black {
  color: #333;
}

.login {
  display: flex !important;
  align-items: center !important;
}

.field input {
  margin-bottom: 10px !important;
}

.icon-text-wrapper {
  display: flex;
}
